1. import pandas
2. Using pandas and numpy, create dataframe (dataframe nothing but a data with rows and columns)
3. export dataframe to csv or any other excel sheet format
4. retrieving data from dataframe using loc (label based indexing) and iloc (integer based indexing)...aldo with df[column index][row index]
5. convert dataframe into array...when we do that it just skip the row label index and column label index name
6. there are some operations in df that we need to be very much familir with..firstky, checking the null condition
   isnull().sum() (first thing we check after loading the data) and then .value_counts used to find unquie catergory features in dataseries..there is alos unique() functions to see how many unique values (non repeating values) are there in selected indexing

In [1]:
## First step is to import pandas...

import pandas as pd
import numpy as np

In [2]:
## creating dataframe using inbuilt function pd.DataFrame..requires 3 imp parameters, data+row names+column names

df=pd.DataFrame(np.arange(0,32,step=2).reshape(4,4),index=['Row1','Row2','Row3','Row4'],columns=["Column1","Column2","Column3","Column4"])

In [3]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        2        4        6
Row2        8       10       12       14
Row3       16       18       20       22
Row4       24       26       28       30

In [15]:
type(df)

pandas.core.frame.DataFrame

In [4]:
## we can also export the above dataframe into excel sheet 

df.to_csv("test.csv")

In [14]:
## Accessing the elements..2ways: .
## loc (This is primarily label-based indexing. 
## It is used to select rows and columns by labels. 
## You can use it to access a group of rows and columns by labels or a boolean array

df.loc['Row1',:] ## selects all columns in row1
type(df.loc['Row1']) ## tyoe is dataseries as it has only one row 
df.loc['Row1':'Row3','Column1':'Column2'] ## selects rows1 to row3 and column1 to colum3
df.loc[:,'Column1'] ## remember if you look for just column1 df.loc['column1'] this gives an error as Row data is missing
#df['Column1']['Row1'] note:using this we can retrive the data...without loc and iloc .... 
#df['Column1']

Row1     0
Row2     8
Row3    16
Row4    24
Name: Column1, dtype: int32

In [6]:
## iloc This is primarily integer-based indexing. 
## It is used to select rows and columns by integer position. 
## You can use it to access a group of rows and columns by integer position or a boolean array. 

df.iloc[0:3,0:2] ## selects rows 1 to 3 and columns 1 to 2
df.iloc[:,1] ## selects all rows in column1

Row1     2
Row2    10
Row3    18
Row4    26
Name: Column2, dtype: int32

In [15]:
df.iloc[:,:].values       ##convert this into array (when we do that it just skip the row label index and column label index name)
df.iloc[:,:].values.shape ## to check the shape

(4, 4)

In [19]:
df

      Column1  Column2  Column3  Column4
Row1        0        2        4        6
Row2        8       10       12       14
Row3       16       18       20       22
Row4       24       26       28       30

In [17]:
df.isnull().sum() ##here you can see we have 0 null values in all the columns

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [18]:
## we can alos use .value_counts()...
## value_counts() is a useful method in pandas 
## that is used to count the occurrences of unique values 
## in a Series (i.e it will not show you any repeated values)

df.loc[:,'Column1'].value_counts()

Column1
0     1
8     1
16    1
24    1
Name: count, dtype: int64

In [19]:
df.loc['Row1'].unique()

array([0, 2, 4, 6])